.user0 {
    grid-area: a;
  }
  .user1 {
    grid-area: b;
  }
  .user2 {
    grid-area: c;
  }
  .user3 {
    grid-area: d;
  }
  .user4 {
    grid-area: e;
  }
  .user5 {
    grid-area: f;
  }
  .user6 {
    grid-area: g;
  }
  .user7 {
    grid-area: h;
  }
  