@import "../colors/colors.scss";
.user-avatar {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  color: $base-color;
  position: relative;
  background-color: $higher-color;
  .card-content {
    position: absolute;
    bottom: -25px;
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 15px;
  }
}
