@import '../colors/colors.scss';
@import '../utils/mixins.scss';
.basic-input {
  @include base-interactive-element {
    width: 100%;
    border: $third-color 1px solid;
    font-size: 15px;
    background-color:$input-color;
    color: white;
  }
}
.input-with-label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
