@import "../colors/colors.scss";
@import "./user-areas.scss";
@import "./game-card.scss";
.room-header {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
}
.room-logo {
  display: flex;
  justify-content: start;
  flex: 1;
}
.room-options {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  flex: 1;

  .invite-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 100;
    font-size: 12px;
  }
}

.game-body {
  padding: 50px;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    ". e b f . "
    "h t t t g "
    ". c a d . ";
  place-content: center;
  place-items: center;
}

.room-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.game-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 25px;
}

