@import "../colors/colors.scss";
.game-table {
    grid-area: t;
    height: 100%;
    width: 100%;
    background-color: $base-color;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}