@mixin base-interactive-element {
  padding: 7px 10px;
  border-radius: 25px;
  outline: none;
  border: none;
  @content;
  &:focus {
    outline: none;
  }
}

//phone responsive
@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}
//tablet responsive
@mixin tablet {
  @media (min-width: 600px) and (max-width: 900px) {
    @content;
  }
}

//no scrollbar 
@mixin no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
